@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
	font-family: 'Inter';
}

.display-flex {
	display: flex;
	justify-content: center;
}

.header {
	background: #000;
	padding: 1.75rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	box-shadow: 0px 0px 0.5rem 0px rgba(0, 0, 0, 0.5);
}

.break__image--desktop,
.break__image--mobile {
	display: block;
	width: 100%;
	object-fit: cover;
	margin-top: 6.25rem;
}

.break__image--mobile {
	display: none;
}

.advice {
	flex-direction: column;
	align-items: center;
}

.advice__description {
	align-items: center;
	flex-direction: column;
	margin: 4rem 0;
}

.advice__description h1 {
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
}

.advice__description h2 {
	font-size: 3rem;
	font-weight: 500;
	text-transform: uppercase;
}

.advice__description p {
	font-size: 1rem;
	line-height: 1.5rem;
	width: 100%;
	max-width: 47.8rem;
	margin-top: 0.375rem;
}

.advice__image {
	display: block;
	margin-bottom: 11.25rem;
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 1.25rem;
}

.info__card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 22rem;
	height: 18rem;
	background: #fff;
	box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.23);
}

.info__card img {
	display: block;
	margin: 0 7.75rem;
	width: 100%;
	max-width: 6.375rem;
}

.info__card p {
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
	max-width: 18.75rem;
	margin-top: 2.5rem;
}

.bg_macbooks {
	margin-top: 5rem;
	background: #e0e0e0;
	height: 27.75rem;
	position: relative;
}

.container {
	position: absolute;
	left: 50%;
	top: 15%;
	transform: translateX(-50%);
}

.macbooks {
	display: grid;
	grid-template-columns: repeat(3, 34.75rem);
	justify-items: center;
	column-gap: 2rem;
}

.macbooks__image {
	display: block;
	max-width: 34.75;
}

.points {
	display: grid;
	grid-template-columns: repeat(4, 27rem) ;
	justify-content: center;
	align-items: center;
	margin: 17.5rem 0 8.75rem;
	column-gap: 1rem;
}

.points__card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	max-width: 27rem;
	height: 20.75rem;
	box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
}

 .points__card img {
	display: block;
	margin: 2.25rem 10.25rem 1rem;
	height: 6.5rem;
}

.points__card p {
	margin: 0 2rem 4rem;
	width: 22.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
} 

.quote {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.quote__description h3 {
	font-size: 2rem;
	line-height: 1.25rem;
	font-weight: 600;
	text-align: center;
}

.quote__description p {
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
	width: 100%;
	max-width: 34.5rem;
	margin: 1rem 0 2rem;
}

.quote__image--desktop {
	display: block;
	width: 100%;
	max-width: 85rem;
	margin-bottom: 6.5rem;
}

.quote__image--mobile {
	display: none;
	width: 100%;
	max-width: 25.875rem;
}


.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #000;
	padding: 1.75rem 0;
}

.socials img {
	margin-left: 1rem;
	cursor: pointer;
}

.socials img:first-child {
	margin-left: 0;
}

.footer__description {
	line-height: 0.75rem;
	text-transform: uppercase;
	margin-top: 1.25rem;
	color: #bdbdbd;
	font-size: 0.625rem;
	text-align: center;
	display: block;
}

@media only screen and (max-width: 1792px) {
	.points {
		grid-template-columns: repeat(2, 27rem) ;
		row-gap: 1rem;
		margin: 10rem 0 8rem;
	}

	.bg_macbooks {
		height: 15rem;
	}

	.macbooks {
		grid-template-columns: repeat(3, 17.375rem);
	}

	.macbooks__image {
		max-width: 17.375rem;
	}

	.quote__image--desktop {
		transform: scale(75%);
	}

}

@media only screen and (max-width: 1092px) {
	.info {
		column-gap: 0;
		row-gap: 1.25rem;
		flex-direction: column;
	}

	.advice {
		margin: 3.25rem 0;
	}

	.advice__description p {
		max-width: 22.25rem;
		margin-top: 1rem;
		text-align: center;
	}

	.points {
		grid-template-columns: repeat(1, 27rem) ;
		justify-items: center;
		row-gap: 1rem;
		margin: 16rem 0 8rem;
	}

	.bg_macbooks {
		height: 30.25rem;
	}

	.macbooks {
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		column-gap: 1rem;
		row-gap: 1.5rem;
	}

	.macbooks__image:nth-child(1),
	.macbooks__image:nth-child(2) {
		max-width: 11rem;
	}

	.macbooks__image:last-child {
		display: block;
		max-width: 23rem;
		margin-top: 1.5rem;
	}

	.item1 {
		grid-column: 2;
		grid-row: 1;
	}

	.item2 {
		grid-column: 1;
		grid-row: 1;
	}

	.item3 {
		grid-column: 1 / -1;
		grid-row: 2;
	}

	.quote__description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 0 3.125rem;
	}

	.quote__description p {
		margin-bottom: 0;
		width: 100%;
		max-width: 22rem;
	}
	
	.quote__image--desktop {
		display: none;
	}

	.quote__image--mobile {
		display: block;
		margin-bottom: 4rem;
	}
}

@media only screen and (max-width: 490px) {
	.break__image--desktop {
		display: none;
	}

	.break__image--mobile {
		display: block;
	}
	.break_1 {
		width: 100%;
		max-width: 36rem;
		height: 37.375rem;
		object-fit: cover;
	}

	.advice__description h1 {
		font-size: 1.25rem;
	}

	.advice__description h2 {
		font-size: 1.75rem;
	}

	.points {
		grid-template-columns: repeat(1, 27rem) ;
		row-gap: 1rem;
		margin: 14rem 0 5rem;
	}

	.points__card {
		max-width: 21.75rem;
	}

	.points__card p {
		margin: 0 2rem 4rem;
		width: 18.75rem;
		font-size: 0.875rem;
	} 

	.card__2 {
		grid-column: 1;
		grid-row: 3;
	}

	.card__3 {
		grid-column: 1;
		grid-row: 2;
	}

	.quote {
		flex-direction: column-reverse;
	}

	.quote__description h3 {
		font-size: 1.5rem;
		line-height: 1.25rem;
	}

	.quote__image--desktop {
		display: none;
	}
	
	.quote__image--mobile {
		display: block;
	}

	.footer__description {
		visibility: hidden;
		position: relative;
		word-wrap: break-word;
		width: 100%;
		max-width: 16.25rem;
	}

	.footer__description::after {
		visibility: visible;
		position: absolute;
		top: 0;
		left: 0;
		content: 'Copyright © 2020 - Loja  Comércio Eletrônico CNPJ: 000.000.000/0001-00';
	}
}
